version: "3.9"

services:
  app:
    build: .
    container_name: wacha-backend
    ports:
      - "8080:8080"
    environment:
      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_SALT=${JWT_SALT}
      - TMDB_API_KEY=${TMDB_API_KEY}
    restart: unless-stopped

